 
 *{
    margin: 0;
    padding: 0%;
 }
 
 root  {--rich-black: #0c1618ff;
        --brunswick-green: #004643ff;
        --cornsilk: #faf4d3ff;
        --gold-metallic: #d1ac00ff;
        --peach: #f6be9aff;
        --font-titulo: "permanent marker", cursive;
        --fonte-texto: "sofadi One" , system-ui;
        }